<div class="container">
  <nav>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </a>
      <a routerLink="/friend" routerLinkActive="active">Friend</a>
      <a routerLink="/profile" routerLinkActive="active">Profile</a>
      <a routerLink="/sign-in" routerLinkActive="active">Sign In</a>
      <a routerLink="/sign-up" routerLinkActive="active">Sign Up</a>
      <br><br>
      <a
        *ngFor="let cityName of cityNames"
        routerLink="/weather/{{ cityName }}"
        routerLinkActive="active"
      >
        {{ cityName }}
      </a>
      <br><br>
  </nav>
  <router-outlet></router-outlet>
</div>
